extends layout
block content

    h3=title

    p

    <!-- Data table-->

    table#pickle.display
        thead
            tr
                th Логин
                th Пароль
                th Интервал обновления
                th Каталог
                th Производитель
                th Действия

        tbody

            each settings in settings_list

                tr
                    td #{settings.login}
                    td #{settings.password}
                    td #{settings.interval}
                    td #{settings.catalog}
                    td #{settings.manufacturer}
                    td
                        div.dropdown
                            a(href='#' data-toggle='dropdown').dropdown-toggle Действия
                            div.dropdown-menu
                                a(href='../data/settings/' + settings._id + '/update').dropdown-item Изменить
                                a(href='#' class='next' name='delete' params={id: settings._id}).dropdown-item Удалить
    if settings_list == 0
        p
        a(href='../data/settings/create').btn.btn-success.btn-sm Добавить настройки<br>

    script.
        $(document).ready(function () {
            $('a[class^="next"]').click(function () {
                var data = $.parseJSON($(this).attr("params"));
                var uri = "http://localhost:3000/data/settings/" + data.id + "/delete";
                $.ajax({
                    url: uri,
                    beforeSend: function () {

                        return confirm('Вы уверены, что хотите удалить настройки?');
                    },
                    success: function (data) {
                        if (data.status == '200') {
                            window.location.replace("http://localhost:3000/data/settings/");
                        } else {
                            alert('Ошибка!');
                        }
                    }
                });
            })
        });